body {
    background-image: url('denise-jans-Lq6rcifGjOU-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.brand-logo {
    margin-left: 20px;
}

.row {
    margin: 50px;
}

