body {
    background-image: url('tyson-moultrie-BQTHOGNHo08-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.brand-logo {
    margin-left: 20px;
}

.row {
    margin: 50px;
}

#movieSearchForm {
    display: flex;
    gap: 10px;
    border-color:#C7BDBA;
    border: 15px whitesmoke;
    background-color: #C7BDBA;
    border-radius: 15px;
    justify-content: center;
    margin-top: 1%;
    margin-left: 3%;
    margin-right: 3%;
  }
  
  input[type="search"] {
    padding: 10px;
    border: 3px solid whitesmoke; 
    border-radius: 15x;
    width: 200px;
    box-sizing: border-box;
    outline:none;
    text-decoration: none;
    /* border-bottom: none;
    /* text-decoration: none; */ 
    /* I am trying to remove the constant underline */
    
  
  }
  
  input[type="submit"] {
    background-color: #C7BDBA;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 15px;
    cursor: pointer;
  }
.footer {
    width: 100%;
}

h5 {
    font-weight: bolder;
    font-size: 30px;
    margin: 10px 20px 10px 20px
}

h6 {
    font-weight: bolder;
    font-size: 30px;
    margin: 10px 20px 10px 20px;
}

.sections {
    display: flex;
    flex-direction: column;
}

#sectionone {
    width: 75%
}

#sectiontwo {
    width: 75%
}

.mission {
    font-weight: bold;
    margin: 10px 20px 10px 60px;
    font-size: 20px;
}

.page-footer {
    background-image: linear-gradient( #a15230, #4c1b0c);
    color: #c7bdba;
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    margin-top: auto;
}

.links {
    display: block;
    text-decoration: underline;
    font-weight: bold;
    color: #151312;
    margin: 10px 20px 10px 60px;
    font-size: 25px;
}

.container {
    margin: 10px 20px 10px 20px;
    font-size: 20px;
}

.br {
    margin: 10px 20px 10px 20px;
    text-align: right;
    width: 100%;
    font-size: 20px;
}

@media (max-width: 800px) {
    
   #sectionone {
    width: 100%;
   }

   #sectiontwo {
    width: 100%;
   }

   .mission {
    text-align: center;
   }

   .links {
    text-align: center;
   }

   h5 {
    text-align: center;
   }

   h6 {
    text-align: center;
   }

   .footer-copyright {
    font-size: 15px;
   }
}




