.brand-logo {
    margin-left: 20px;
}

.row {
    margin: 50px;
}

#movieSearchForm {
    display: flex;
    gap: 10px;
    border-color:#C7BDBA;
    border: 15px whitesmoke;
    background-color: #C7BDBA;
    border-radius: 15px;
    justify-content: center;
    margin-top: 1%;
    margin-left: 3%;
    margin-right: 3%;
  }
  
  input[type="search"] {
    padding: 10px;
    border: 3px solid whitesmoke; 
    border-radius: 15x;
    width: 200px;
    box-sizing: border-box;
    outline:none;
    text-decoration: none;
    /* border-bottom: none;
    /* text-decoration: none; */ 
    /* I am trying to remove the constant underline */
    
  
  }
  
  input[type="submit"] {
    background-color: #C7BDBA;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 15px;
    cursor: pointer;
  }